<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TreeApp</a>
    </div>
    <ul class="nav navbar-nav">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/videos" routerLinkActive="active">Tree</a></li>
    <li><a href="/api/videos0">Root</a></li>
    <li><a href="/api/videos1">1st Parent</a></li>
    <li><a href="/api/videos2">2nd Parent</a></li>
    </ul>
  </div>
</nav>    
<div class="container">
  <router-outlet></router-outlet>      
</div>

